extends layout

block content

    nav
        - var nav = {}; nav[title] = 'active'
        ul
            li(class='#{nav.Home}')
                a(href='/home') Home
            li(class='#{nav.About}')
                a(href='/about') About
