extends layout

block content

        form.well(id='form-welcome', action = '/login', method='get').text-center
            h1= title
            p Welcome to #{title}
            button.btn.btn-primary.button-sign-in Login



