extends layout

block content

    #welcome.center-vertical
        form.well(id='form-welcome', action='/login').text-center
            h1= title
            p Welcome to #{title}
            button.btn.btn-primary.button-sign-in
                span.glyphicon.glyphicon-lock
                | Login


