extends layout
extends home

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    #report.center-vertical
        form.well(id='form-report', method='post')
            h2 New Cart
            .form-group
                label Store:
                select(name = "store")
                    each store in storesList
                        option(value=store.StoreID) #{store.Name}
            .form-group
                label Cart Name:
                input.input-xlarge(type='text', id='cartName', name='cartName')
            .controls
                button(type='submit').btn.btn-primary.button-sign-in
                    span.glyphicon.glyphicon-lock
                    | Save & Edit Products
        h5 #{message}