extends layout

block content

    - user = typeof(udata) != 'undefined' ? udata : { }

    #account-form-container.center-vertical
        form(method="post")#account-form.form-horizontal.well
            h3 New User Details
            hr
            .form-group
                label Username
                input.form-control#user-tf(type='text', name='user', value= user.user).disabled

            .form-group
                label Password
                input.form-control#pass-tf(type='password', name='pass', value='')
            hr
            .form-buttons
                button(type='submit')#account-form-btn2.btn.btn-primary
                    span.glyphicon.glyphicon-lock
                    | Sign Up
            .clearfix

            h5 #{message}
